<div class="flex gap-3 flex-wrap">
	@for (item of $sortiment(); track item) {
		<ng-container *ngTemplateOutlet="sortimentCard; context: { category: EBeerVolume.BIG, item: item }"></ng-container>
	}
</div>

<p-divider />

<div class="flex gap-3 flex-wrap">
	@for (item of $sortiment(); track item) {
		<ng-container *ngTemplateOutlet="sortimentCard; context: { category: EBeerVolume.SMALL, item: item, subheader: 'malé' }"></ng-container>
	}
</div>

<p-confirmDialog
	header="Potvrdit"
	icon="pi pi-exclamation-triangle"
/>

<ng-template
	#sortimentCard
	let-category="category"
	let-item="item"
	let-subheader="subheader"
>
	<p-card
		(click)="addToCart(item.id, $selectedUser().id, category)"
		[header]="item.name"
		[subheader]="subheader"
		[class.active]="$cartCountMap()[category | asSortimentCategory][item.id]"
		[class.card-outline]="category === EBeerVolume.SMALL"
		class="card"
	>
		@if ($cartCountMap()[category | asSortimentCategory][item.id]) {
			<div class="card-controls w-full flex justify-content-between align-items-center">
				<p-button
					type="button"
					icon="pi pi-minus"
					class="p-button-rounded"
					styleClass="p-button-lg"
					(click)="removeOneFromCart(item, $event, category)"
				/>

				@if ($cartCountMap()[category | asSortimentCategory][item.id]; as count) {
					<span>+ {{ count }}ks</span>
				}

				<p-button
					type="button"
					icon="pi pi-plus"
					class="p-button-rounded"
					styleClass="p-button-lg"
					(click)="addOneToCart(item.id, $selectedUser().id, category, false, $event)"
				/>
			</div>
		}

		<ng-template pTemplate="footer">
			<div style="display: flex;width: 100%;justify-content: space-between;">
				<div>{{ item.sourceName }}</div>
				<div><app-sortiment-price [keg]="item" [volume]="category" [user]="$selectedUser()" /></div>
			</div>
		</ng-template>
	</p-card>
</ng-template>
