@import "variables";

:host {
	::ng-deep {
		.card {
			.p-card {
				min-height: 150px;
				background-color: var(--bluegray-800);
			}

			&.active {
				.p-card {
					background: var(--orange-800) !important;
				}
			}

			&.card-outline {
				.p-card {
					background: transparent;
					border: 1px solid #333;
					box-shadow: none;
				}
			}

			&.card-beerpong {
				.p-card {
					background-color: var(--orange-900);
				}
			}

			.p-card-subtitle {
				font-size: 20px;
			}
		}

		p-confirmDialog {
			.p-dialog-footer {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

.card {
	flex: 40%;
	height: auto;

	@media (max-width: $mobile-screen-width) {
		flex: 100%;
	}
}
