<div class="flex justify-content-between mb-3">
	<div class="flex">
		<p-button
			severity="info"
			[outlined]="!sortimentListStore.filters()['isEmpty']"
			(click)="sortimentListStore.toggleFilter('isEmpty')"
		>
			Ukázat {{ sortimentListStore.filters()["isEmpty"] ? "plné" : "prázdné" }}
		</p-button>
	</div>

	<p-button
		styleClass="p-button-success"
		icon="pi pi-fw pi-plus"
		label="Přidat předlohu"
		[routerLink]="['new']"
	></p-button>
</div>

<p-tabView>
	<p-tabPanel header="Sudy na akcích">
		<app-sortiment-list-table
			[kegs]="sortimentListStore.copyKegs()"
			(kegDelete)="removeKeg($event)"
			(kegUpdate)="updateKeg($event.id, $event.property, $event.value)"
		/>
	</p-tabPanel>
	<p-tabPanel header="Předlohy">
		<app-sortiment-list-table [kegs]="sortimentListStore.originalKegs()" />
	</p-tabPanel>
</p-tabView>
