<div class="flex gap-4">
	<form
		[formGroup]="form"
		(ngSubmit)="onSubmit()"
		class="flex flex-column gap-4 flex-1"
	>
		<div class="flex flex-column gap-2">
			<label htmlFor="userName">Jméno</label>
			<input
				pInputText
				id="userName"
				formControlName="name"
			/>
		</div>

		<div class="flex flex-column gap-2">
			<label htmlFor="isRegular">Exkluzivní</label>
			<p-inputSwitch
				formControlName="isRegular"
				id="isRegular"
			></p-inputSwitch>
		</div>

		<p-button
			label="Uložit"
			type="submit"
		/>
	</form>
	@if(userId && faceRecognitionService.faceRecognitionEnabled) {
		<div class="flex-1">
			<app-user-face-scan-descriptor [user]="user" />
		</div>
	}
</div>
