.keg-sortlist {
	.keg-row {
		display: flex;
		gap: 1em;
		align-items: center;
	}
}

::ng-deep {
	.keg-sortlist {
		.p-orderlist-controls {
			[data-pc-section='moveTopButton'], [data-pc-section='moveBottomButton'] {
				display: none;
			}
		}
	}
}
