::ng-deep {
	.keg-sortlist {
		.p-orderlist-controls {
			[data-pc-section='moveTopButton'], [data-pc-section='moveBottomButton'] {
				display: none;
			}
		}
	}
}

.keg-sortlist {
	.keg-row {
		display: flex;
		gap: 1em;
		align-items: center;
	}
}

.save-btn-container {
	position: sticky;
	bottom: 0;
	padding: 15px 0;
	background: #121212;
}

