@import "variables";

:host {
	height: 100%;
	display: block;
}

::ng-deep {
	.home-btn {
		.p-button {
			width: 100%;
			justify-content: center;
			font-size: 2rem;
		}
	}
}

.home-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 15px;
	gap: 50px;

	@media (max-width: $tablet-screen-width) {
		width: 100%;
	}

	.home-btn {
		width: 100%;
	}
}
