<div class="flex">
	<form
		[formGroup]="form"
		(ngSubmit)="onSubmit()"
		class="flex flex-column gap-4"
	>
		<div class="flex flex-column gap-2">
			<label htmlFor="sortimentName">Název sudu</label>
			<input
				pInputText
				id="sortimentName"
				formControlName="name"
			/>
		</div>

		<div class="flex flex-column gap-2">
			<label htmlFor="sortimentSourceName">Pivovar</label>
			<p-autoComplete
				id="sortimentSourceName"
				[suggestions]="$sources()"
				(completeMethod)="searchSources($event)"
				formControlName="sourceName"
			/>
		</div>

		<div class="flex flex-column gap-2">
			<label htmlFor="sortimentPrice">Cena sudu</label>
			<input
				type="number"
				pInputText
				id="sortimentPrice"
				formControlName="price"
			/>
		</div>

		<div class="flex flex-column gap-2">
			<label htmlFor="sortimentVolume">Objem (l)</label>
			<input
				type="number"
				pInputText
				id="sortimentVolume"
				formControlName="volume"
			/>
		</div>

		<div class="flex gap-2 mb-4">
			<label htmlFor="kegIsCashed">Zaplacený</label>
			<p-inputSwitch
				formControlName="isCashed"
				id="kegIsCashed"
				(onChange)="confirmKegIsCashed($event)"
			></p-inputSwitch>
		</div>


		<p-button
			label="Save"
			type="submit"
		/>
	</form>
</div>

<p-confirmDialog
	icon="pi pi-exclamation-triangle"
/>
