<div class="flex gap-2 mb-4">
	<label htmlFor="showEmptyEvents">Zobrazit pouze události s nezaúčtovanými sudy</label>
	<p-inputSwitch
		[ngModel]="$showOnlyNotPaidEvents()"
		(ngModelChange)="$showOnlyNotPaidEvents.set($event)"
		id="showEmptyEvents"
	></p-inputSwitch>
</div>

<div class="flex align-items-center gap-5">
	<p-multiSelect
		[options]="$events() | sort: 'start'"
		[ngModel]="$selectedEvents()"
		(ngModelChange)="$selectedEvents.set($event)"
		placeholder="Vyber události"
		optionLabel="name"
		display="chip"
	/>
	<p-button
		(click)="createPayday()"
		styleClass="p-button-lg p-button-primary"
		>Vyrobit pejdej
	</p-button>
</div>

<br />

@if (($paydayResult() | async); as paydayResult) {
	<app-payday-table [data]="paydayResult" />
}
