<div class="flex gap-2 mb-4">
	<label htmlFor="showEmptyEvents">Zobrazit pouze události s nezaúčtovanými sudy</label>
	<p-inputSwitch
		[ngModel]="$showOnlyNotPaidEvents()"
		(ngModelChange)="$showOnlyNotPaidEvents.set($event)"
		id="showEmptyEvents"
	></p-inputSwitch>
</div>

<div class="flex gap-2 mb-4">
	<label htmlFor="onlyUncashedKegs">Vyúčtovat pouze nevyúčtované sudy</label>
	<p-inputSwitch
		[ngModel]="$onlyUncashedKegs()"
		(ngModelChange)="$onlyUncashedKegs.set($event)"
		id="onlyUncashedKegs"
	></p-inputSwitch>
</div>

<div class="flex align-items-center gap-5">
	<p-multiSelect
		[options]="$events() | sort: 'start'"
		[ngModel]="$selectedEvents()"
		(ngModelChange)="$selectedEvents.set($event)"
		placeholder="Vyber události"
		optionLabel="name"
		display="chip"
	/>
	<p-button
		(click)="createPayday()"
		styleClass="p-button-lg p-button-primary"
		>Vyrobit pejdej
	</p-button>
</div>

<br>

@if($selectedEvents().length > 0) {
	@if($eventsWithFullKegs().length > 0) {
		<p-message severity="warn" text="Bacha, ve vybraných událostech jsou sudy neoznačené jako vypité!"></p-message>
		<h4>Události:</h4>
		@for(event of $eventsWithFullKegs(); track event.id) {
			<div class="p-2"><a [routerLink]="['/admin/events/detail', event.id]" target="_blank">{{event.name}}</a></div>
		}
		<p-button (click)="refreshEventsWithFullKegs()">Znovu zkontrolovat</p-button>
	} @else {
		<p-message severity="success" text="Události OK"></p-message>
	}
}
<br>

@if (($paydayResult() | async); as paydayResult) {
	<app-payday-table [data]="paydayResult" />
}
