<p-table [value]="$data().payday">
	<ng-template pTemplate="header">
		<tr>
			<th>Pijan</th>
			<th>Propito (Kč)</th>
			<th>Propito (ks)</th>
		</tr>
	</ng-template>
	<ng-template
		pTemplate="body"
		let-item
	>
		<tr>
			<td>{{ item.name }}</td>
			<td>{{ item.finalPrice }} Kč</td>
			<td>{{ item.amount }} ks</td>
		</tr>
	</ng-template>
</p-table>

<br />

<h4>Z toho klubovní příspěvek: {{ $data().allAddedCosts }}Kč</h4>

<br />

<p-button
	(click)="copyPaydayResult()"
	styleClass="p-button-lg p-button-primary"
	>Zkopírovat do schránky
</p-button>

<p-dialog
	header="Pejdej"
	[(visible)]="showPaydayDialog"
	[style]="{ width: '50vw' }"
>
	<textarea
		readonly="readonly"
		[value]="paydayResult"
		[rows]="$data().payday.length"
		class="w-full"
	></textarea>

	<ng-template pTemplate="footer">
		<p-button
			(click)="showPaydayDialog = false"
			label="Zavřít"
			styleClass="p-button-text"
		></p-button>
	</ng-template>
</p-dialog>
