<ng-container *ngIf="eventId; else missingId">
	<ng-container *ngIf="(event | async) as currentEvent">
		<div class="flex align-items-center gap-3">
			<h1>{{ currentEvent.name }}</h1>
			<h2>({{ currentEvent.start | date: 'dd.MM' }} - {{ currentEvent.end | date: 'dd.MM' }})</h2>
		</div>

		<div class="flex justify-content-between align-items-center">
			<h3>Účastníci zájezdu ({{$eventUsers().length}}/{{ currentEvent.capacity }})</h3>
			<p-button label="Přidat se" icon="pi pi-plus" (onClick)="showAttendModal()"></p-button>
		</div>

		<p-table [value]="$eventUsers()" [paginator]="true" [rows]="10" [globalFilterFields]="['name']">
			<ng-template pTemplate="body" let-user>
				<tr>
					<td>{{ user.name }}</td>
					<td>
						<button pButton
							appConfirm
							(confirm)="unattend(user.id)"
							pTooltip="Odstranit"
							class="p-button-danger"
							icon="pi pi-fw pi-trash"
						></button>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</ng-container>
</ng-container>

<ng-template #missingId>
	<p>Missing event id</p>
</ng-template>
