@if(achievements$ | async; as achievements) {
	<p-table
		[value]="achievements"
		[paginator]="true"
		[rows]="10"
		[globalFilterFields]="['name']"
	>
		<ng-template pTemplate="header">
			<tr>
				<th>Název</th>
				<th></th>
			</tr>
		</ng-template>
		<ng-template
			pTemplate="body"
			let-achievement
		>
			<tr>
				<td>{{ achievement.name }}</td>
				<td>
					<p-button
						[routerLink]="['detail', achievement.id]"
						styleClass="p-button-info"
						icon="pi pi-fw pi-pencil"
					/>

					<button
						pButton
						appConfirm
						(confirm)="removeAchievement(achievement.id)"
						confirmMessage="Smazat?"
						class="p-button-danger"
						icon="pi pi-fw pi-trash"
					></button>
				</td>
			</tr>
		</ng-template>
	</p-table>
}
<p-confirmPopup></p-confirmPopup>
