<p-sidebar [(visible)]="visible">
	<div class="flex flex-column h-full">
		<div class="card flex justify-content-center">
			<p-menu [model]="$items()"></p-menu>
		</div>

		<p-dropdown *ngIf="authService.$isLogged()"
			[options]="eventService.$events()"
			[ngModel]="eventService.$activeEvent()"
			(ngModelChange)="eventService.setActiveEvent($event)"
			optionLabel="name"
			[filter]="true"
			filterBy="name"
			[showClear]="true"
			placeholder="Select event"
			[style]="{ width: '100%' }"
			class="mt-5"
		>
			<ng-template pTemplate="selectedItem">
				<div class="flex align-items-center gap-2" *ngIf="eventService.$activeEvent() as event">
					<div>{{ event.name }}</div>
				</div>
			</ng-template>

			<ng-template let-item pTemplate="item">
				<div class="flex align-items-center gap-2">
					<div>{{ item.name }}</div>
				</div>
			</ng-template>
		</p-dropdown>

		<div class="mt-auto">
			<p-button *ngIf="!authService.$isLogged()"
				class="mt-auto"
				[style]="{'width': '100%'}"
				(click)="showLoginDialog()"
			>
				<i class="pi pi-fw pi-user mr-2"></i>
				Admin
			</p-button>

			<p-button *ngIf="authService.$isLogged()"
				class="mt-auto"
				[style]="{'width': '100%'}"
				(click)="authService.logout()"
			>
				<i class="pi pi-fw pi-sign-out mr-2"></i>
				Odhlásit
			</p-button>
		</div>
	</div>
</p-sidebar>
