:host {
	::ng-deep {
		.card {
			.p-card {
				min-height: 100px;
				background-color: var(--bluegray-800);
			}

			&.card-beerpong {
				.p-card {
					background-color: var(--orange-900);
				}
			}
		}
	}
}
