:host {
	::ng-deep {
		.card {
			.p-card {
				min-height: 100px;
				background-color: var(--bluegray-800);
			}

			&.card-beerpong {
				.p-card {
					display: flex;
					align-items: center;

					.p-card-body {
						display: flex;
					}
				}
			}
		}

		.p-listbox {
			border-color: transparent;

			.p-listbox-item {
				&:last-child {
					border-bottom: none !important;
				}
			}
		}

		.p-accordion {
			.p-accordion-content {
				padding: 0 1rem;
			}
		}

		p-knob {
			svg {
				width: 180px !important;
				height: 180px !important;;
			}
		}
	}
}

.kegs-pointer-container {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid var(--surface-300);
	padding: 1.5rem;
	background: var(--orange-900);

	.keg-pointer-item {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;

		&:not(:last-child) {
			border-right: 1px solid var(--surface-300);
		}
	}
}
