<ng-container *ngIf="$selectedUser() as selectedUser">
	<app-dashboard-sortiment-select [selectedUser]="selectedUser"
		[sortiment]="$sortiment()"
		(confirm)="confirmOrder()"
		(cancel)="clearOrder()"
	/>
</ng-container>

<ng-container *ngIf="!$selectedUser()">
	<p-card (click)="showBeerpongDialog()"
		[header]="'Býrponk'"
		[class.active]="(orderService.$cartCount()['beerpong'] | json) !== '{}'"
		class="card card-beerpong"
	/>

	<h3>Nebo se vyber</h3>

	<app-dashboard-user-select
		(selected)="selectUser($event)"
	/>
</ng-container>
