<ng-container *ngIf="$selectedUser() as selectedUser">
	<app-dashboard-sortiment-select [selectedUser]="selectedUser"
		[sortiment]="$sortiment()"
		(confirm)="confirmOrder()"
		(cancel)="clearOrder()"
	/>
</ng-container>

<ng-container *ngIf="!$selectedUser()">
	<p-card (click)="showBeerpongDialog()"
		[header]="'Býrponk'"
		[class.active]="(orderService.$cartCount()['beerpong'] | json) !== '{}'"
		class="card card-beerpong"
	/>

	<p-divider></p-divider>

	<h3>Nebo se vyber</h3>
	<div>
		<app-dashboard-user-select
			[users]="$usersInEvent() | async"
			(selected)="selectUser($event)"
		/>

		<p-divider></p-divider>

		<p-accordion>
			<p-accordionTab header="Ostatní">
				<app-dashboard-user-select
					[users]="$usersOther()"
					(selected)="selectUser($event)"
				/>
			</p-accordionTab>
		</p-accordion>
	</div>
</ng-container>
