@if($kegs() | async; as kegs) {
	@if ($selectedUser(); as selectedUser) {
			<app-dashboard-sortiment-select
				[selectedUser]="selectedUser"
				[sortiment]="kegs"
				(confirm)="confirmOrder()"
				(cancel)="clearOrder()"
			/>
	} @else {
		<p-card
			(click)="showBeerpongDialog()"
			[header]="'Zapsat býrponk'"
			[class.active]="(orderService.$cartCount()['beerpong'] | json) !== '{}'"
			class="card card-beerpong"
		/>

		<p-divider align="center">nebo</p-divider>

		<h3>Vyber pijáka</h3>
		<div>
			@if($usersInEvent() | async; as users) {
				<app-dashboard-user-select
					[users]="users"
					(selected)="selectUser($event)"
				/>
				<br />
			}
			<p-accordion>
				<p-accordionTab header="Ostatní">
					<ng-template pTemplate="content">
						<app-dashboard-user-select
							[users]="$usersOther()"
							(selected)="selectUser($event)"
						/>
					</ng-template>
				</p-accordionTab>
			</p-accordion>
		</div>

		<p-divider />

		<h2 class="text-center">Už se vypilo</h2>
		<div class="flex pb-6">
			@for (keg of kegs; track $index) {
				<div class="flex-1 cursor-pointer"
					(click)="showKegStatistics(keg)"
				>
					@if (keg.id | kegStatus | async; as kegStat) {
						<h3 class="text-center">{{ keg.name }}</h3>
						<p-knob
							class="text-center"
							[ngModel]="kegStat.consumedVolume"
							[max]="kegStat.totalVolume"
							[size]="200"
							valueTemplate="{value}ks"
							[readonly]="true"
						/>
						<h3 class="text-center">{{ kegStat.totalVolume }}ks</h3>
					}
				</div>
			}
		</div>

		<div class="kegs-pointer">
			@for (keg of kegs; track keg.id) {
				<div class="keg-pointer-item">{{ keg.name }}({{ keg.sourceName }})</div>
			}
		</div>
	}
} @else {
	<h1>Žádné sudy na události</h1>
}
@if(faceRecognitionService.$faceRecognitionEnabled()) {
	<app-user-face-recognition
		[users]="$usersInEvent() | async"
		[enabled]="$selectedUser() === null && !beerpongOpened"
		(detected)="selectUser($event)"
	/>
}
