:host {
	display: block;
	height: 100%;

	::ng-deep {
		p-listbox {
			.p-listbox-list-wrapper {
				max-height: 100% !important;

				.p-listbox-item {
					padding: 25px 16px !important;
					border-bottom: 1px solid #333 !important;
				}

				&.big-list-items {
					.p-listbox-item {
						padding: 35px 16px !important;
					}
				}
			}
		}
	}
}
