<div class="flex flex-column h-full">
	@if (layout === 'form') {
		<div class="flex flex-column justify-content-center mb-4">
			<p-dropdown
				[options]="users"
				[(ngModel)]="selectedUser"
				(ngModelChange)="submit()"
				optionLabel="name"
				[filter]="true"
				filterBy="name"
				[showClear]="true"
				placeholder="Najdi pijáka"
				[style]="{ width: '100%' }"
				scrollHeight="65vh"
				appendTo="body"
			>
				<ng-template pTemplate="selectedItem">
					@if (selectedUser) {
						<div class="flex align-items-center gap-2"
						>
							<div>{{ $any(selectedUser).name }}</div>
						</div>
					}
				</ng-template>
				<ng-template let-item
					pTemplate="item">
					<div class="flex align-items-center gap-2">
						<div>{{ item.name }}</div>
					</div>
				</ng-template>
			</p-dropdown>
		</div>
	}

	@if (layout === 'list') {
		<div class="overflow-auto">
			<p-listbox [options]="users"
				[(ngModel)]="selectedUser"
				(ngModelChange)="submit()"
				[multiple]="multiple"
				[metaKeySelection]="false"
				optionLabel="name"
				[style]="{'width':'100%'}"
				[class.big-list-items]="users.length < 6"
				emptyMessage="Žádní uživatelé"
			/>
		</div>
	}

	@if (multiple) {
		<p-button
			(click)="submit()"
			[style]="{'width': '100%'}"
			class="w-full mt-3"
			styleClass="p-button-lg"
			label="Potvrdit"/>
	}
</div>
