body {
	font-family: var(--font-family);
	margin: 0;
}

html,
body {
	height: 100%;
}

p-dropdown {
	.p-dropdown-filter {
		width: 100% !important;
		border: 1px solid rgba(255, 255, 255, 0.3) !important;
	}
}


::ng-deep {
	.p.button.p-button-success {
		background: var(--green-500) !important;
	}

	.p.button.p-button-warning {
		background: var(--yellow-500) !important;
	}
}

.flex-responsive {
	display: flex;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.visible-mobile {
	display: none;

	@media screen and (max-width: 768px) {
		display: block;
	}
}
