<div class="p-inputgroup mb-2">
	<p-dropdown
		[options]="options"
		[(ngModel)]="selectedSortiment"
		optionLabel="name"
		[filter]="true"
		filterBy="name"
		[showClear]="true"
		ariaFilterLabel=""
		[placeholder]="label"
		[style]="{ width: '100%' }"
	>
		<ng-template pTemplate="selectedItem">
			@if (selectedSortiment) {
				<div class="flex align-items-center gap-2">
					<div>{{ selectedSortiment.name }} ({{ selectedSortiment.volume }}l)</div>
				</div>
			}
		</ng-template>

		<ng-template let-item
			pTemplate="item">
			<div class="flex align-items-center gap-2">
				<div>
					{{ item.name }} ({{ item.volume }}l)
					@if (item.event?.event; as start) {
						({{ start | date: 'dd.MM.yyyy' }})
					}
				</div>
			</div>
		</ng-template>
	</p-dropdown>

	<p-button styleClass="p-button-lg p-button-success"
		icon="pi pi-fw pi-plus"
		(click)="addSortiment(selectedSortiment)"></p-button>
</div>
