<div class="flex justify-content-between mb-3">
	<div class="flex">
		<p-button
			severity="info"
			[outlined]="!('empty' | isIncluded: $filter())"
			(click)="toggleFilter('empty')"
		>
			@if('empty' | isIncluded: $filter()) {
			<i class="pi pi-fw pi-check mr-2"></i>
			} Prázdné
		</p-button>

		<p-button
			severity="info"
			[outlined]="!('inEvent' | isIncluded: $filter())"
			(click)="toggleFilter('inEvent')"
		>
			@if('inEvent' | isIncluded: $filter()) {
			<i class="pi pi-fw pi-check mr-2"></i>
			} Na párty
		</p-button>
	</div>

	<p-button
		styleClass="p-button-lg p-button-success"
		icon="pi pi-fw pi-plus"
		label="Přidat předlohu"
		[routerLink]="['new']"
	></p-button>
</div>

<p-tabView>
	<p-tabPanel header="Sudy na akcích">
		@if($copyKegs(); as kegs) {
		<app-sortiment-list-table [kegs]="kegs" />
		}
	</p-tabPanel>
	<p-tabPanel header="Předlohy">
		@if($originalKegs(); as kegs) {
		<app-sortiment-list-table [kegs]="kegs" />
		}
	</p-tabPanel>
</p-tabView>
