<div class="flex justify-content-between mb-3">
	<div class="flex">
		<p-button
			severity="info"
			[outlined]="!('empty' | isIncluded: $filter())"
			(click)="toggleFilter('empty')"
		>
			<i class="pi pi-fw pi-check mr-2" *ngIf="'empty' | isIncluded: $filter()"></i>
			Prázdné
		</p-button>

		<p-button
			severity="info"
			[outlined]="!('inEvent' | isIncluded: $filter())"
			(click)="toggleFilter('inEvent')"
		>
			<i class="pi pi-fw pi-check mr-2" *ngIf="'inEvent' | isIncluded: $filter()"></i>
			Na párty
		</p-button>
	</div>

	<p-button styleClass="p-button-lg p-button-success" icon="pi pi-fw pi-plus" label="Přidat předlohu" [routerLink]="['new']"></p-button>
</div>

<p-tabView>
	<p-tabPanel header="Sudy na akcích">
		<app-sortiment-list-table *ngIf="$copyKegs() as kegs" [kegs]="kegs"></app-sortiment-list-table>
	</p-tabPanel>
	<p-tabPanel header="Předlohy">
		<app-sortiment-list-table *ngIf="$originalKegs() as kegs" [kegs]="kegs"></app-sortiment-list-table>
	</p-tabPanel>
</p-tabView>
