<div class="flex justify-content-between mb-3">
	<div class="flex">
		<p-button
			severity="info"
			[outlined]="!$filter()['isEmpty']"
			(click)="toggleFilter('isEmpty')"
		>
			@if($filter()['isEmpty']) {
				<i class="pi pi-fw pi-check mr-2"></i>
			} Prázdné
		</p-button>
	</div>

	<p-button
		styleClass="p-button-success"
		icon="pi pi-fw pi-plus"
		label="Přidat předlohu"
		[routerLink]="['new']"
	></p-button>
</div>

<p-tabView>
	<p-tabPanel header="Sudy na akcích">
		<app-sortiment-list-table [kegs]="$copyKegs()"
			(kegDeleted)="loadSortiment()"
			(kegEmptyStatusChanged)="loadSortiment()"
			(kegDefectiveStatusChanged)="loadSortiment()"
		/>
	</p-tabPanel>
	<p-tabPanel header="Předlohy">
		<app-sortiment-list-table [kegs]="$originalKegs()" />
	</p-tabPanel>
</p-tabView>
